<div class="row">

		<div class="span7 offset2">
			<a href="/"> <img src="images/logo3.png"> </a>
		</div>
	
</div>

<div class="row-fluid">
	
		<div class="">
			<h2> Smart-grid technology starts in the home! It starts with <i>you!</i></h2>
			<div class="well">
				<b>GreenStar</b> is an inexpensive, modular and fun solution for 
				<b>energy management and home automation.</b> We provide outlet-covers 
				and powerstrips that send power usage to the web and can be turned on and off.  
				The home owner can start with a few and then expand to more. It's easy to keep track of your 
				trends and begin making changes to help save you money.
			</div>
		</div>
	
</div>

<hr>

<div class="row">

	<div class="row">
	
		<div class="span4">
			<h2> Modular Setup </h2>
			<div class="well">
				Start monitoring and controlling a few outlets and expand to more using our <b>cheap</b> outlet-covers and powerstrips.
			</div>
		</div>
	
		<div class="span4">
			<h2> Build Your Profile </h2>
			<div class="well">
				Log the power usage of devices in your home, locate power hogs and make changes to save money.
			</div>
		</div>
	
		<div class="span4">
			<h2> Be In Control </h2>
			<div class="well">
				Awareness of your energy usage can help reduce it by 20%. Schedules, timers and alerts can reduce this even more.
			</div>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="span4">
			<h2> Build a community </h2>
			<div class="well">
				Create groups with your friends, share your strategies, make goals and learn together.
			</div>
		</div>
		
		<div class="span4">
			<h2> Have fun!  </h2>
			<div class="well">
				 Gain achievements, earn points; all while saving money on your electric bill.
			</div>
		</div>
	
		<div class="span4">
			<h2> Headline  </h2>
			<div class="well">
				A bunch of text describing more of the headline...
			</div>
		</div>
	
	</div>
	
	<div class="row">
	
		<div class="span4">
		  <h2>Newsletter Signup!</h2>
		  <form class="well">
			<label>Enter your email for the latest news:</label>
			<input type="text" class="span3" placeholder="Email address" size="40">
			</label>
			<button type="submit" class="btn">Submit</button>
		   </form>
		</div>
	
		<div class="span4 offset4">
		  <h2>Get Started! </h2>
		  <form class="well">
			<label>Enter your product serial # to start:</label>
			<input type="text" class="span3" placeholder="Serial #">
			</label>
			<button type="submit" class="btn">Submit</button>
		   </form>
		</div>
	
	</div>
	
</div>