<div class="row">
  <div>
  <ul class="nav nav-pills">
  <li class="">
				<h2 class="span2">
				  Greenstar
				</h2>
			</li>
			
			<li class="offset1">
				<a href="/">Home</a>
			</li>
			<li class="">
				<a href="/">Products</a>
			</li>
			<li class="">
				<a href="/faq">FAQ</a>
			</li>
		
			<div class="offset4">
				<%= form_for(:session, :url => sessions_path) do |f| %>
				<%= f.text_field :email %>
				<%= f.password_field :password %>
				<%= f.submit "Sign in" %>
				<% end %>
			</div>
			
		
	</ul>
  </div>
</div>

<script type="text/javascript">
<!-- Begin
function toggle(obj) {
// Moz. or IE
var sibling=(obj.nextSibling.nodeType==3)? obj.nextSibling.nextSibling : obj.nextSibling;
// hide or show
if(sibling.style.display=='' || sibling.style.display=='block') {
	sibling.style.display='none';
    obj.firstChild.firstChild.data='+';
    }
else {
	sibling.style.display='block';
    obj.firstChild.firstChild.data='-';
    }
}
//
function initCollapse() {
var oDT=document.getElementById('content').getElementsByTagName('dt');
for (var i=0; i < oDT.length; i++) {
	oDT[i].onclick=function() {toggle(this)};
    var oSpan=document.createElement('span');
    var sign=document.createTextNode('+');
    oSpan.appendChild(sign);
    oDT[i].insertBefore(oSpan, oDT[i].firstChild);
    oSpan.style.fontFamily='monospace';
    oSpan.style.paddingRight='0.5em';
    oDT[i].style.cursor='pointer';
    toggle(oDT[i]);
	}
oDT=null;
}
window.onload=function() {if(document.getElementById && document.createElement) {initCollapse();}}
//-->

</script>
	<!--
    	This script downloaded from www.JavaScriptBank.com
    	Come to view and download over 2000+ free javascript at www.JavaScriptBank.com
	-->

<div class="row well" style="box-shadow: 0 0 10px 1px #888; background: #FFFFFF;">

    <h2>
    Frequently Asked Questions
    </h2>
  
  <hr>
  
  <dl id="content">
    <dt>How does it work?</dt>
    <dd>Here's the answer<br><br></dd>
    <br>
    
    <dt>This is Question</dt>
    <dd>Ma quande lingues coalesce, li grammatica del resultant lingue es plu 
		simplic e regulari quam ti del coalescent lingues. Li nov lingua franca 
		va esser plu simplic e regulari quam li existent Europan lingues. It va 
		esser tam simplic quam Occidental: in fact, it va esser Occidental. A un 
		Angleso.<br><br></dd>
		<br>
		
    <dt>This is Question</dt>
    <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
		nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
		volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
		ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
		Duis autem vel eum iriure dolor in hendrerit in.</dd>
		
  </dl>
</div>
	<!--
    	This script downloaded from www.JavaScriptBank.com
    	Come to view and download over 2000+ free javascript at www.JavaScriptBank.com
	-->

  
  
</div>

