
<div class="hero-unit">
  <h1> Welcome to ThorMetrics!</h1>
  <h2>Smart Grid Technology Starts in the Home.</h2>
  <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>More Info? <%= link_to " FAQ", '#' %></h2>
    <form class="well">
      <label>Enter your email for the latest news!</label>
    	<input type="text" class="span3" placeholder="Email address">
   		</label>
    	<button type="submit" class="btn">Submit</button>
	   </form>
	 </div>


  <div>
    <div class="span4 offset4">
      <h2>Get Started: </h2>
      <form class="well">
        <label>Enter your product serial #:</label>
      	<input type="text" class="span3" placeholder="Serial #">
     		</label>
      	<button type="submit" class="btn">Submit</button>
	     </form>
    </div>
</div>
