<div class="row">
			
	<div class="container">
		<ul class="nav nav-pills">
			<li class="span2">
				<a href="./index.html">Home</a>
			</li>
			<li class="active span2">
				<a href="./about.html">About</a>
			</li>
		<!--	<li class="">
				<a href="./index.html">Energy Management</a>
			</li>
			<li class="">
				<a href="./index.html">Home Automation</a>
			</li>
			<li class="">
				<a href="./index.html">FAQ</a>
			</li>
			<li class="">
				<a href="./index.html">About</a>
			</li> -->
		</ul>
	</div>

</div>  <!-- row -->

<hr>

<div class="row-fluid">
		
		
	<div class="span6">
		<a href="index.html"> <img src="images/logo3.png"> </a>
	</div>


	<div class="span3">
	  <h2>Newsletter Signup!</h2>
	  <form class="well">
		<label>Enter your email for the latest news.</label>
		<input type="text" class="span7" placeholder="Email address" size="40">
		</label>
		<button type="submit" class="btn">Submit</button>
	   </form>
	</div>

	<div class="span3">
	  <h2>Get Started! </h2>
	  <form class="well">
		<label>Enter your product serial # to start monitoring and controlling:</label>
		<input type="text" class="span7" placeholder="Serial #">
		</label>
		<button type="submit" class="btn">Submit</button>
	   </form>
	</div>
	
</div>

<div class="row-fluid">

	<div class="row offset1">
	
		<div class="span3">
			<h2> Modular Setup </h2>
			<div class="well">
				Start monitoring and controlling a few outlets and expand to more using our <b>cheap</b> outlet-covers and powerstrips.
			</div>
		</div>
	
		<div class="span3">
			<h2> Build Your Profile </h2>
			<div class="well">
				Log the power usage of devices in your home, locate power hogs and make changes to save money.
			</div>
		</div>
	
		<div class="span3">
			<h2> Be In Control </h2>
			<div class="well">
				Awareness of your energy usage can help reduce it by 20%. Schedules, timers and alerts can reduce this even more.
			</div>
		</div>
		
	</div>
	
	<div class="row offset1">
		
		<div class="span3">
			<h2> Build a community </h2>
			<div class="well">
				Create groups with your friends, make goals and learn from each other.
			</div>
		</div>
		
		<div class="span3">
			<h2> Have fun!  </h2>
			<div class="well">
				Complete achievements to earn points, compete with friends, all while saving money on your electric bill.
			</div>
		</div>
	
		<div class="span3">
			<h2> Headline  </h2>
			<div class="well">
				A bunch of text describing more of the headline...
			</div>
		</div>
	
	</div>
	
</div>

